# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Listas

In [ ]:
# Criando uma lista
listadomercado = ["ovos, farinha, leite, maças"]

In [ ]:
# Imprimindo a lista
print(listadomercado)

In [ ]:
# Criando outra lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [ ]:
# Imprimindo a lista
print(listadomercado2)

In [ ]:
# Criando lista
lista3 = [12, 100, "Universidade"]

In [ ]:
# Imprimindo
print(lista3)

In [ ]:
lista3 = [12, 100, "Universidade"]

In [ ]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [ ]:
# Imprimindo as variáveis
print(item1, item2, item3)

### Atualizando um item da lista

In [ ]:
# Imprimindo um item da lista
listadomercado2[2]

In [ ]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [ ]:
# Imprimindo lista alterada
listadomercado2

### Deletando um item da lista

In [ ]:
# Out of index. Não é possível deletar um item que não existe na lista
del listadomercado2[4]

In [ ]:
# Deletando um item específico da lista
del listadomercado2[3]

In [ ]:
# Imprimindo o item com a lista alterada
listadomercado2

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [33]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [34]:
# Imprimindo a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [35]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [36]:
a

[1, 2, 3]

In [37]:
b = a[0]

In [38]:
b

1

In [39]:
list1 = listas[1]

In [40]:
list1

[10, 15, 14]

In [41]:
valor_1_0 = list1[0]

In [42]:
valor_1_0

10

In [43]:
valor_1_2 = list1[2]

In [44]:
valor_1_2

14

In [45]:
list2 = listas[2]

In [46]:
list2

[10.1, 8.7, 2.3]

In [47]:
valor_2_0 = list2[0]

In [48]:
valor_2_0

10.1

### Operações com listas

In [49]:
# Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [50]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [56]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[1][2]

In [57]:
a

14

In [58]:
b = listas[1][2]

In [59]:
b

14

In [60]:
c = listas[0][2] + 10

In [61]:
c

13

In [64]:
d = 10

In [65]:
d

10

In [66]:
e = d * listas[2][0]

In [67]:
e

101.0

### Concatenando listas

In [68]:
lista_s1 = [34, 32, 56]

In [69]:
lista_s1

[34, 32, 56]

In [70]:
lista_s2 = [21, 90, 51]

In [71]:
lista_s2

[21, 90, 51]

In [72]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [73]:
lista_total

[34, 32, 56, 21, 90, 51]

## Operador in

In [74]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [75]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [76]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

## Funções Built-in

In [77]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

4

In [78]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

100

In [79]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

-5

In [81]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [82]:
# Adicionando um item à lista
listadomercado2.append("carne")

In [83]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [84]:
listadomercado2.append("carne")

In [85]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne']

In [86]:
listadomercado2.count("carne")

2

In [87]:
# Criando uma lista vazia
a = []

In [88]:
print(a)

[]

In [89]:
type(a)

list

In [90]:
a.append(10)

In [91]:
a

[10]

In [92]:
a.append(50)

In [93]:
a

[10, 50]

In [94]:
old_list = [1,2,5,10]

In [95]:
new_list = []

In [96]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [97]:
new_list

[1, 2, 5, 10]

In [98]:
c = [20,30]

In [99]:
c.append(60)

In [100]:
c.append(70)

In [101]:
c

[20, 30, 60, 70]

In [102]:
c.count(20)

1

In [103]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [104]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [105]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [106]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [107]:
cidades.insert(2, 110)

In [108]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [109]:
# Remove um item da lista
cidades.remove(110)

In [110]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [111]:
# Reverte a lista
cidades.reverse()

In [112]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [113]:
x = [3, 4, 2, 1]

In [114]:
x

[3, 4, 2, 1]

In [115]:
# Ordena a lista
x.sort()

In [116]:
x

[1, 2, 3, 4]

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>